<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Student:</h1>
<form th:action="@{/students/add}"
      th:object="${student}" method="POST">
    <label for="firstName">FirstName</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="firstName">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <br/>
    <label for="lastName">LastName</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
</body>
</html>